/*#192E58
#1D65A6
#72A2C0
#00743F
#F2A104 */


label {
  font-size: 16px;
  color: white;
}

form {
  margin-left: 50px;
}

.new-folder, .choose-folder {
  padding: 10px;
}

.select-folder {
  display: block;
  margin: 5px;
}

.select-folder select {
  color: #1D65A6;
}

.url-input {
  display: inline-block;
}


input, select {
  margin: 10px;
  font-size: 16px;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: #1D65A6 3px solid;
}
