/*#192E58
#1D65A6
#72A2C0
#00743F
#F2A104 */

header {
  margin: 10px 20px;
}
h1 {
  color: #192E58;
  font-size: 60px;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 16px;
}

.header-tagline {
  color: #192E58;
  font-size: 20px;
  margin-left: 30px;
}

.header-image {
  width: 50px;
  height: auto;
  padding: 10px 10px 0;
}
