@import './reset.css';
@import './links.css';
@import './header.css';
@import './form.css';

/*#192E58
#1D65A6
#72A2C0
#00743F
#F2A104 */



body {
  font-family: sans-serif;
  background-color: #72A2C0;
}

button {
  background-color: #F2A104;
  color: white;
  border: none;
  font-size: 16px;
  padding: 5px;
}
