/*#192E58
#1D65A6
#72A2C0
#00743F
#F2A104 */

h4 {
  color: #1D65A6;
  text-align: center;
  font-size: 18px;
  padding: 5px;
}

li, ul {
  text-align: left;
}

li {
  list-style: none;
  margin-top: 5px;
}

a {
  margin: 5px;
  color: #1D65A6;
}

a:hover {
  color: #F2A104;
}

p {
  margin: 5px;
}

.folder{
  margin: 10px 50px;
  border: 1px solid azure;
  border-radius: 5px;
  width: 250px;
  display: inline-block;
}

.folder:hover{
  cursor: pointer;
}

.url-link{
  width: 80%;
  border-bottom: 1px dotted #2c3e50;
}

.sort-btn {
  margin: 12px;
  font-size: 14px;
  background-color: #1D65A6;
  color: white;
  width: 100px;
}

.link-list h3 {
  margin: 20px;
  font-weight: bold;
  color: #192E58;
  font-size: 18px;
}
